#outer{
    height: 60px;
    width: 100%;
    border: 2px solid black;
    justify-content: center;
    display: flex;


}
#outer1{
    height: 45px;
    width: 96%;
    /* border: 1px solid black; */
    margin-top: 7.5px;
    display: flex;
    
}
#div1{
    height: 45px;
    width: 30px;
    /* border: 1px solid black; */
    background-image: url();
    font-size: 30px;
    color:black;

}
#div1>i{
    margin-top: 6px;
    margin-left: 1px;
}
#div2{
    height: 45px;
    width: 170px;
    /* border: 1px solid black; */

}
#innerdiv2{
    height: 30px;
    width: 170px;
    /* border: 1px solid black; */
    margin-top: 7.5px;
    background-image: url("https://lh3.googleusercontent.com/3zkP2SYe7yYoKKe47bsNe44yTgb4Ukh__rBbwXwgkjNRe4PykGG409ozBxzxkrubV7zHKjfxq6y9ShogWtMBMPyB3jiNps91LoNH8A=s500");
    background-size: cover;
    background-position: 0;
    

}
#div3{
    height: 45px;
    width: 950px;
    /* border: 1px solid black; */
}
#innerdiv3{
    height: 30px;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 7.5px;
    justify-content: center;
    display: flex;
}
#search_{
    height: 30px;
    width: 700px;
    /* border: 1px solid black; */
    border-radius:12px 0 0 12px;
    display: flex;
}
#searchinput{
    height: 30px;
    width: 540px;
    /* border: 1px solid black; */
    border-radius: 12px 0 0 12px;
    font-size: 25px;

    
}
#search_button{
    width:100px ;
    height: 35px;
    border-radius: 0 12px 12px 0;
}
#border{
    height: 30px;
    width: 600px;
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
}
#search>p{
    margin-top:4px;
    margin-left: 20px;
    font-size: 20px;

}
#logo{
    height: 30px;
    width: 60px;
    font-size: 25px;
    margin-left: 20px;
    font-weight: 200;
    margin-top: 3px;
    

    
}
#search_voice{
    height: 30px;
    width: 100px;
    /* border: 1px solid black; */
    font-size: 25px;
    
}
#search_voice>i{
    margin-left:40px ;
}
#div4{
    height: 30px;
    width: 300px;
    /* border: 1px solid black; */
    margin-top: 7.5px;
    display: flex;
}
#innerdiv4{
    height: 30px;
    width: 150px;
    /* border: 1px solid black; */
    border-radius: 15px;
    display: flex;
}
#innerdiv4>p{
    font-size: 30px;
    margin-top: 0px;
    margin-left: 20px;
}
#notification{
    height: 30px;
    width: 75px;
    /* border: 1px solid black; */
    font-size: 25px;

}
#user_image{
    height: 30px;
    width: 75px;
    /* border: 1px solid black; */
    font-size: 25px;
}
#user_image>i{
    margin-left: 23px;
}
#notification>i{
    margin-left: 23px;
}
#newdiv{
    height: 700px;
    width: 280px;
    border: 1px solid black;
    overflow: scroll;
}
#newinner1{
    height: 90px;
    width: 100%;
    border: 1px solid black;
}
#new1{
    height: 30px;
    /* border: 1px solid black; */
    display: flex;
}
#new2{
    height: 30px;
    /* border: 1px solid black; */
    display: flex;
}
#new3{
    height: 30px;
    /* border: 1px solid black; */
    display: flex;
}
#home_logo{
    width: 70px;
}
#home_logo>i{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;

}
#about{
    font-size: 20px;
    font-weight: 600;
    margin-top: 4px;
}
#shorts_logo{
    width: 70px;
}
#shorts_logo>i{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
}
#shorts{
    font-size: 20px;
    font-weight: 600;
    margin-top: 4px;
}
#subs_logo{
    width: 70px;
}
#subs_logo>i{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
}
#subs{
    font-size: 20px;
    font-weight: 600;
    margin-top: 4px;
}
#newinner2{
    height: 210px;
    width: 100%;
    border: 1px solid black;
}
#new{
    height: 30px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
}
#new>span{
    margin-top: 5px;
    margin-left: 20px;
}
#new>span{
    font-size: 20px;
    font-weight: 600;
    margin-top: 4px;
}
#history_logo{
    width: 70px;
}
#history_logo>i{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
}
#playlist_logo{
    width: 70px;
}
#playlist_logo>i{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
}
#video_logo{
    width: 70px;
}
#video_logo>i{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
}
#watch_logo{
    width: 70px;
}
#watch_logo>i{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
}
#like_logo{
    width: 70px;
}
#like_logo>i{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
}
#download_logo{
    width: 70px;
}
#download_logo>i{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
}
#history{
    font-size: 18px;
    font-weight: 550;
    margin-top: 4px;
}
#like{
    font-size: 18px;
    font-weight: 550;
    margin-top: 4px;
}
#watch{
    font-size: 18px;
    font-weight: 550;
    margin-top: 4px;
}
#playlist{
    font-size: 18px;
    font-weight: 550;
    margin-top: 4px;
}
#download{
    font-size: 18px;
    font-weight: 550;
    margin-top: 4px;
}
#video{
    font-size: 18px;
    font-weight: 550;
    margin-top: 4px;
}
#newinner3{
    height: 60px;
    width: 100%;
    border: 1px solid black;
}
#show_logo{
    width: 70px;

}
#show{
    font-size: 18px;
    font-weight: 550;
    margin-top: 4px;
}
#show_logo{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
}
#div2nd{
    height: 700px;
    width: 100%;
    border: 1px solid black;
}
#main{
    display: flex;
}
/* #div2nd{
   margin-top: 30px;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   overflow: scroll;
   gap: 20px;
}
.video{
    height: 350px;
    
} */
#trending_logo{
    width: 70px;
}
#shopping_logo{
    width: 70px;
}
#news_logo{
    width: 70px;
}
#gaming_logo{
    width: 70px;
}
#prodcast_logo{
    width: 70px;
}
#fashion_logo{
    width: 70px;
}
#courses_logo{
    width: 70px;
}
#movies_logo{
    width: 70px;
}

#sports_logo{
    width: 70px;
}
#live_logo{
    width: 70px;
}


#trending_logo>i{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
}
#shopping_logo>i{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
}
#news_logo>i{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
}
#gaming_logo>i{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
}
#prodcast_logo>i{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
}
#fashion_logo>i{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
}
#courses_logo>i{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
}
#movies_logo>i{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
}

#sports_logo>i{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
}
#live_logo>i{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
}
#music_logo>i{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
}
#music_logo{
    width: 70px;
}
#music{
    font-size: 18px;
    font-weight: 550;
    margin-top: 4px;
}
#prodcast{
    font-size: 18px;
    font-weight: 550;
    margin-top: 4px;
}
#live{
    font-size: 18px;
    font-weight: 550;
    margin-top: 4px;
}
#fashion{
    font-size: 18px;
    font-weight: 550;
    margin-top: 4px;
}
#gaming{
    font-size: 18px;
    font-weight: 550;
    margin-top: 4px;
}
#sports{
    font-size: 18px;
    font-weight: 550;
    margin-top: 4px;
}
#movies{
    font-size: 18px;
    font-weight: 550;
    margin-top: 4px;
}
#courses{
    font-size: 18px;
    font-weight: 550;
    margin-top: 4px;
}
#news{
    font-size: 18px;
    font-weight: 550;
    margin-top: 4px;
}
#shopping{
    font-size: 18px;
    font-weight: 550;
    margin-top: 4px;
}
#trending{
    font-size: 18px;
    font-weight: 550;
    margin-top: 4px;
}
#div2nd{
    height: auto;
    width: 95%;
}
#body1st{
    height: 40px;
    width: 100%;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 10px;
    z-index: 1;
    position: sticky;
    margin-top: 10px;
}

.content{
    height: 30px;
    /* border: 1px solid black; */
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(224, 231, 231);
    padding-top: 10px;
    
}
/* lower-body */
#body2nd{
    height: 900px;
    width: 100%;
    margin-top: 10px;
    /* border: 1px solid black; */
    display:grid;
    grid-template-columns: repeat(3,1fr);
    overflow: scroll;
    gap: 20px;
    
    
}
/* #loading{
    height: 900px;
    width: 100%;
    margin-top: 10px;
    /* border: 1px solid black; */
    /* display:grid;
    grid-template-columns: repeat(3,1fr);
    overflow: scroll; */

/* #loading{
    height: 450px;
    width: 550px;
    border: 1px solid black;
} */
.video{
    height: 350px;
    width: 100%;
    gap: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.video>img{
    width: 100%;
    object-fit: cover;
    height: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

